
@{
     ViewBag.Title = "Index";
     Layout = "~/Views/Shared/_LayoutPage1.cshtml";
     var bestsellerBooks = ViewBag.bestsellerBooks;
     var cheapBooks = ViewBag.cheapBooks;
}

<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="caption header-text">
                    <h6>Bine ai venit pe BOOKify!</h6>
                    <h2>Explorează universul cunoștințelor!</h2>
                    <p>Într-o lume în care informația este cheia către cunoaștere și evoluție, noi vă oferim poarta către o bibliotecă vastă și diversă, accesibilă în orice moment și de oriunde. Descoperiți o experiență de neegalat în căutarea și explorarea cărților din toate domeniile și genurile, cu o colecție în continuă expansiune. </p>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="right-image">
                    <img src="~/assets/images/pexels-ricky-esquivel-1907785.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="~/assets/images/77fd2d45070948eb2a352fd2d520ccad.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Explorare variată</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="~/assets/images/lili_.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Oferte avantajoase</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="~/assets/images/box-23639_1280.png" alt="" style="max-width: 44px;">
                        </div>
                        <h4>Livrare rapidă</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#">
                    <div class="item">
                        <div class="image">
                            <img src="~/assets/images/bibel-2615221_1280.png" alt="" style="max-width;">
                        </div>
                        <h4>Pagini pline</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section trending">
    <div class="container">
         <div class="row">
              <div class="col-lg-6">
                   <div class="section-heading">
                        <h6>În tendință</h6>
                        <h2>Bestseller books</h2>
                   </div>
              </div>
              <div class="col-lg-6">
                   <div class="main-button">
                        <a href="@Url.Action("Shop", "Home", new { type = "All" })">Vizualizează tot</a>
                   </div>
              </div>
              @foreach (var book in bestsellerBooks)
              {
                   <div class="col-lg-3 col-md-6">
                        <div class="item">
                             <div class="thumb">
                                  <a href="@Url.Action("Product_details", "Home", new { name = book.Name })"><img src="@Url.Content("~/assets/images/books/" + book.Image)" alt="" width="150" height="400"></a>
                                  <span class="price">@book.Price $</span>
                             </div>
                             <div class="down-content">
                                  <span class="category">@book.Author</span>
                                  <h4>@book.Name</h4>
                                  <a href="@Url.Action("Product_details", "Home", new { name = book.Name })"><i class="fa fa-shopping-bag"></i></a>
                             </div>
                        </div>
                   </div>
              }
         </div>
    </div>
</div>

<div class="section most-played">
    <div class="container">
         <div class="row">
              <div class="col-lg-6">
                   <div class="section-heading">
                        <h6>Recomandări BOOKify</h6>
                        <h2>Cele mai mici prețuri</h2>
                   </div>
              </div>
              <div class="col-lg-6">
                   <div class="main-button">
                        <a href="@Url.Action("Shop", "Home", new { type = "All" })">Vizualizează tot</a>
                   </div>
              </div>
              @foreach (var book in cheapBooks)
              {
                   <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="item">
                             <div class="thumb">
                                  <a href="@Url.Action("Product_details", "Home", new { name = book.Name })"><img src="@Url.Content("~/assets/images/books/" + book.Image)" alt="" width="200" height="300"></a>
                             </div>
                             <div class="down-content">
                                  <span class="category">@book.Author</span>
                                  <h4>@book.Name</h4>
                                  <a href="@Url.Action("Product_details", "Home", new { name = book.Name })">Răsfoiește</a>
                             </div>
                        </div>
                   </div>
              }
         </div>
    </div>
</div>

<div class="section categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h6>Categorii</h6>
                    <h2>Diviziuni distincte</h2>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Ficțiune</h4>
                    <div class="thumb">
                        <a href="@Url.Action("Shop", "Home", new { type = "Ficțiune" })"><img src="~/assets/images/dream-8595132_1280.png" alt="" width="200" height="200"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Dezvoltare personală</h4>
                    <div class="thumb">
                        <a href="@Url.Action("Shop", "Home", new { type = "Dezvoltare personală" })"><img src="~/assets/images/potential-1353776_1280.jpg" alt="" width="200" height="200"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Poezie</h4>
                    <div class="thumb">
                        <a href="@Url.Action("Shop", "Home", new { type = "Poezie" })"><img src="~/assets/images/poetry-4359890_1280.jpg" alt="" width="200" height="200"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Autori români</h4>
                    <div class="thumb">
                        <a href="@Url.Action("Shop", "Home", new { type = "Autori români" })"><img src="~/assets/images/eminescu.jpg" alt="" width="200" height="200"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-xs-12">
                <div class="item">
                    <h4>Istorie</h4>
                    <div class="thumb">
                        <a href="@Url.Action("Shop", "Home", new { type = "Istorie" })"><img src="~/assets/images/acropolis-2725918_1280.jpg" alt="" width="200" height="200"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="shop">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h6>Magazin nostru</h6>
                                <h2>Comandă acum și ai parte de <em>Experiențe</em> fenomenale!</h2>
                            </div>
                            <p>Descoperă lumea fascinantă a cărților la un click distanță - întâlnește aventura, cunoașterea și inspirația la magazinul nostru online de cărți!</p>
                            <div class="main-button">
                                <a href="@Url.Action("Shop", "Home", new { type = "All" })">Comandă acum</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-2 align-self-end">
                <div class="subscribe">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-heading">
                                <h6>NOUTĂȚI</h6>
                                <h2>Descoperă o gamă largă de cărți <em>Captivante</em>!</h2>
                            </div>
                            <div class="main-button">
                                 <a href="@Url.Action("Shop", "Home", new { type = "All" })">Descoperă</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
