
@{
     var booksList = ViewBag.booksList;
     List<string> TypeList = ViewBag.TypeList;
     ViewBag.Title = "AddBook";
     Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@model eUseControl.Web.Models.AddBook

<div class="page-heading header-text">
     <h3>Adaugă Carte Nouă</h3>
</div>

<div class="contact-page section most-played">
     <div class="container">
          <div class="right-content">
               <div class="row">
                    <div class="col-lg-12">
                         <div class="header-text">
                              <h3 class="mb-lg-5">Adaugă Carte Nouă</h3>
                         </div>
                         @Html.ValidationSummary(true)
                         @using (Html.BeginForm("AddBook", "Admin", FormMethod.Post, new { @id = "AddBookForm", enctype = "multipart/form-data" }))
                         {
                              @Html.AntiForgeryToken()
                              <form id="contact-form" action="" method="post">
                                   <div class="row">
                                        <div class="col-lg-12 mb-3">
                                             @Html.TextBoxFor(m => m.Name, new
                                        {
                                             placeholder = "Introdu nume...",
                                             @class = "form-control",
                                             required = "required"
                                        })
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                             @Html.TextBoxFor(m => m.Price, new
                                        {
                                             placeholder = "Introdu preț...",
                                             @class = "form-control",
                                             required = "required",
                                             type = "number",
                                             min = 1,
                                             max = 999
                                        })
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                             @Html.TextBoxFor(m => m.Description, new
                                        {
                                             placeholder = "Introdu descriere...",
                                             @class = "form-control",
                                             required = "required",
                                        })
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                             @Html.TextBoxFor(m => m.Author, new
                                        {
                                             placeholder = "Introdu autor...",
                                             @class = "form-control",
                                             required = "required",
                                        })
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                             @Html.TextBoxFor(m => m.Edit, new
                                        {
                                             placeholder = "Introdu editură...",
                                             @class = "form-control",
                                             required = "required",
                                        })
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                             @Html.DropDownListFor(m => m.Type, new SelectList(ViewBag.TypeList as System.Collections.IEnumerable, "Text"), "Selectează un gen..", new
                                        {
                                                @class = "form-control",
                                                required = "required",
                                        })
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                             <input type="file" id="imageFile" name="imageFile" accept="image/png" class="form-control" />
                                        </div>
                                        <div class="col-lg-12">
                                             <fieldset>
                                                  <button type="submit" id="form-submit" class="orange-button">Adaugă Carte</button>
                                             </fieldset>
                                        </div>
                                   </div>
                              </form>
                         }
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="section trending">
     <div class="container">
          <div class="row">
               @foreach (var book in booksList)
               {
                    <div class="col-lg-3 col-md-6">
                         <div class="item">
                              <div class="thumb">
                                   <img src="@Url.Content("~/assets/images/books/" + book.Image)" alt="" width="150" height="400">
                                   <span class="price">@book.Price $</span>
                              </div>
                              <div class="down-content">
                                   <span class="category">@book.Author</span>
                                   <h4>@book.Name</h4>
                              </div>
                              <div class="text-center mb-2">
                                   <a href="@Url.Action("DeleteBook", "Admin", new {id = book.Id})" class="btn btn-danger">Șterge</a>
                                   <a href="@Url.Action("EditBook", "Admin", new {id = book.Id})" class="btn btn-info">Editează</a>
                              </div>
                         </div>
                    </div>
               }
          </div>
     </div>
</div>
