
@{
     ViewBag.Title = "EditUser";
     Layout = "~/Views/Shared/_LayoutPage1.cshtml";
     var user = ViewBag.user;
}
@model eUseControl.Web.Models.EditUser

<div class="page-heading header-text">
     <h3>Editează Un Utilizator Existent</h3>
</div>

<div class="contact-page section most-played">
     <div class="container">
          <div class="right-content">
               <div class="row">
                    <div class="col-lg-12">
                         <div class="header-text">
                              <h3 class="mb-lg-5">Editează Un Utilizator Existent</h3>
                         </div>
                         @Html.ValidationSummary(true)
                         @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new { @id = "EditUserForm", enctype = "multipart/form-data" }))
                         {
                              @Html.AntiForgeryToken()
                              <form id="contact-form" action="" method="post">
                                   <div class="row">
                                        <div class="col-lg-12 mb-3">
                                             @Html.TextBoxFor(m => m.Username, new
                                        {
                                             placeholder = "Introdu nume...",
                                             @class = "form-control",
                                             required = "required"
                                        })
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                             @Html.TextBoxFor(m => m.Email, new
                                        {
                                             placeholder = "Introdu email...",
                                             @class = "form-control",
                                             required = "required",
                                             type = "email",
                                             @readonly = "readonly"
                                        })
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                             @Html.TextBoxFor(m => m.Level, new
                                        {
                                             placeholder = "Introdu rolul... | (0-user) | (1-moderator) | (2-admin)",
                                             @class = "form-control",
                                             required = "required",
                                             min = 0,
                                             max = 2,
                                             type = "number"
                                        })
                                        </div>
                                        <div class="col-lg-12 mb-3">
                                             <input type="file" id="imageFile" name="imageFile" accept="image/png" class="form-control" />
                                        </div>
                                        <div class="col-lg-12">
                                             <fieldset>
                                                  <button type="submit" id="form-submit" class="orange-button">Editează Utilizator</button>
                                             </fieldset>
                                        </div>
                                   </div>
                              </form>
                         }
                    </div>
               </div>
          </div>
     </div>
</div>